// variables

$color-primary: #264f5c;
$color-primary-light: #346a7a;
$color-secondary: #252f1e;
$color-secondary-light: #334129;
$color-text: #edf2f7;
$color-black-about: #121212;
$color-beige: #d4c4b6;

//breakpoint argument choices
// -phone -tab-port -tab-land - big-desktop

// Order base + typograhpy > general layout + grid > page layout > components

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800) {
      //1800px
      @content;
    }
  }
}

// Base Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  @include respond(tab-land) {
    font-size: 0.9rem; //1rem = 9px 9/16
  }

  @include respond(tab-port) {
    font-size: 0.8rem; //1rem = 8x 8/16
  }

  @include respond(big-desktop) {
    font-size: 1.2rem; //1rem = 12, 12/16
  }
}

// html:not([data-scroll='0']) header {
//   color: transparent;
//   transition: all 0.5s ease-in-out;
// }

body {
  font-family: 'Open Sans', sans-serif;
  color: $color-text;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-text;
  position: relative;
  transition: all 1s ease-in-out;
  display: inline-block;
}
